{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <!-- Add additional CSS files or stylesheets here -->
    <title>{{ title }}</title>
</head>

<body>
    <div class="container">
        <h1>{{ head }}</h1>
        <p>logo</p>
        <a href="login/" type="button" class="btn btn-primary">Get Started</a>
    </div>


    <!-- Add additional scripts or JavaScript files here -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
</body>

</html>